@charset "utf-8";

.search-bar {
}
.search-bar .search-title,
.search-bar .tag-title {
    font-size: 3rem;
    font-family: arno-pro-caption, serif;
}

.search-bar .search-text {
    margin-bottom: 40px;
}

.search-bar .search-text input {
    padding: 0 0 10px 0;
    width: 100%;
    display: block;
    background: none;
    border: none;
    outline: none;
    color: #e85454;
    border-bottom: solid 3px #e85454;
    font-family: arno-pro-caption, serif;
    font-size: 1.5rem;
}

.search-bar .search-text ::placeholder {
}
