@charset "utf-8";

.main {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    gap: 10px 20px;
}
.big-title-article {
    text-align: left;
    font-size: 5rem;
    font-family: arno-pro-caption, serif;
}

.article-block-wrap {
    flex: 1;
}
.article-block-wrap .search-result,
.article-block-wrap .tag-result {
    font-size: 3rem;
    border-bottom: solid 1px rgb(163, 163, 163);
    color: rgb(163, 163, 163);
}
.search-block-wrap {
    width: 250px;
    margin-top: 20px;
}

/* ボーダー線打ち消し */
article #article-title {
    border-bottom: none !important;
}

@media screen and (max-width: 1024px) {
}

/* スマホ対応 */
@media screen and (max-width: 767px) {
    .main {
        flex-direction: column-reverse;
    }

    .article-block-wrap,
    .search-block-wrap {
        width: 100%;
    }
    .big-title-article {
        text-align: center;
    }
}
