/* 共通部分はできるだけこのcssに記載しまとめる */

html {
    /* 1rem=10pxとする */
    font-size: 10px;
    font-family: "メイリオ", "Meiryo", sans-serif;
    margin: 0;
    padding: 0;
}

* {
    word-break: break-all;
}

body {
    background-color: #2c2c2c;
    color: #f4f4f4;
}
ul,
li {
    list-style: none;
    padding-left: 0;
}
li::marker {
    list-style-position: outside !important;
    list-style-type: none;
}

a {
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* コンテンツ間の幅確保用 */
.mg-top {
    margin-top: 20px;
}
.mg-bottom {
    margin-bottom: 20px;
}

.pd-top10 {
    padding-top: 10px;
}
.pd-left10 {
    padding-left: 10px;
}
.pd-right10 {
    padding-right: 10px;
}
.pd-bottom10 {
    padding-bottom: 10px;
}
.pd-10 {
    padding: 10px;
}
/*ここまで コンテンツ間の幅確保用 */

/*コンテンツを線で囲む*/
.border-all {
    border: solid #444343 1px;
}
/*ここまでコンテンツを線で囲む*/
