@charset "utf-8";

.main {
    z-index: 998;
    margin: 0 auto;
    width: fit-content;
}

.top-image {
    display: block;
    position: relative;
    margin: 5px;
    width: 500px;
    height: 500px;
    display: inline-grid;
    /* border: solid 1px #f4f4f4; */
    overflow: hidden;
}

.top-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: brightness(0.3);
    transition: all 0.5s 0s ease;
}

.top-image:hover img {
    filter: brightness(0.7);
}

.top-image .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    font-size: 4rem;
}
.top-image .cover {
    position: absolute;
    top: 0;
    left: 0;
}

.article-top-image {
    display: block;
    width: 1014px;
}

/* スマホ対応 */
@media screen and (max-width: 1050px) {
    .main {
        width: auto;
    }
    .top-image {
        width: 100%;
    }
    article {
        width: 100%;
    }
}
