@charset "utf-8";

.main {
    font-size: 2rem;
    z-index: 998;
    margin: 0 auto;
    width: fit-content;
}
.top-block-wrap {
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 500px;
    box-sizing: border-box;
    display: inline-grid;
    /* border: solid 1px #444343; */
}
.top-block-wrap:nth-child(2) {
    margin-left: 10px;
}

.top-image {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    background-color: #2c2c2c;
    opacity: 1 !important;
}

.article-top-image {
    position: relative;
    display: block;
    width: 1014px;
    height: 500px;
    overflow: hidden;
    opacity: 1 !important;
}

.top-image img,
.article-top-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: brightness(0.3);
    transition: all 0.5s 0s ease;
}

.top-image:hover img,
.article-top-image:hover img {
    filter: brightness(0.7);
}

.top-image .content,
.article-top-image .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    font-size: 6rem;
}
.profile-wrap,
.mail-wrap {
    width: 100%;
    margin: 20px 0;
    height: fit-content;
    font-size: 3rem;
    font-family: "Abel";
}

.myname {
}

.career,
.birth,
.mail {
    font-size: 2rem;
    padding-bottom: 20px;
}

/* articlecontent.cssを上書き */
article {
    width: 1014px;
}
/*****************************/

/* 767px以下からスマホ対応 */
@media screen and (max-width: 1065px) {
    .main {
        width: auto;
    }
    .top-block-wrap {
        width: 100%;
        display: block;
    }
    .top-block-wrap:nth-child(2) {
        margin-left: 0px;
    }
    article {
        width: 100%;
    }
    .article-top-image {
        width: 100%;
    }
}
